<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="InputFile" value=".\ESIPSToolKitParameter.txt"/>
    <add key ="ProjectFolder" value="..\..\..\..\..\..\PSAutomation3.0\PowerShellAutomation"/>
    <add key ="TemplateFolder" value="..\..\Template"/>
    <add key ="CMDFile" value="ESIPSToolKitCmdAll.txt"/>
  </appSettings>
</configuration>
