<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.windows.forms jitDebugging="true" />
  <appSettings>
    <add key="systemConfigString" value="VNX-Block,VNXe" />
    <add key="prefixFileFloder" value=".\prefixScript" />
    <add key="postfixFileFolder" value=".\postScript" />
    <add key="allPSFilesFolder" value=".\Script" />
    <add key="LogFolder" value="c:\PowerShellTestLog_1106" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>