<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLDB.Properties.Settings.TestTaoConnectionString" connectionString="Data Source=TEST-SANDY1;Initial Catalog=TestTao;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
        <add name="SQLDB.Properties.Settings.ClientTestTaoConnectionString" connectionString="Data Source=|DataDirectory|\TestTao.sdf;Max Database Size=2047" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
