<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jsDatePick Javascript example</title>
<link rel="stylesheet" type="text/css" media="all" href="calendar/jsDatePick_ltr.min.css" />

<script type="text/javascript" src="calendar/jsDatePick.min.1.3.js"></script>

<script type="text/javascript">
	window.onload = function(){
	loadpage();
	window.alert("calendar");
		new JsDatePick({
			useMode:2,
			target:"from",
			dateFormat:"%d-%M-%Y"
			/*selectedDate:{				This is an example of what the full configuration offers.
				day:5,						For full documentation about these settings please see the full version of the code.
				month:9,
				year:2006
			},
			yearsRange:[1978,2020],
			limitToToday:false,
			cellColorScheme:"beige",
			dateFormat:"%m-%d-%Y",
			imgPath:"img/",
			weekStartDay:1*/
		});
	};
</script>
<script type="text/javascript">
	function loadpage(){
	window.alert("loadpage");
	}
	</script>
</head>
<body>
 
  <div class="titlebar">
           <b><font size="3"><font size="6">ESG SSE PIE</font></font></b>
  </div>
 
 <table style="padding: 0px;" class="ItemDetailContainer" id="links">
 <tr></tr>
<tr>
<td width=200><a href="OpenBugStatus">Open Bug Status</a></td>
<td width=200><a href="ToBeVerified">To Be Verified</a></td>
<td width=200><a href="QARecords">QA Status</a></td>
<td width=200><a href="OwnedByQA">Artifacts Owned By QA</a></td>
</tr>
<tr></tr>
</table>
<p><p>
<div> <b><font size="5">Open Bug Status</font></b> </div>
<p>
<table style="padding: 0px;" id="artifactSummary">
<tr><td style="padding-top:8px">
<form name="BugStatusForm" method="post"  id="BugStatusForm">
<table id="two" width="100%">
<tr><td width="130" >Product</td>
<td><select name="product" class="inputfield" onchange="javascript:LoadRelease(this.selectedIndex)">
<option value="0">EMC Storage Integrator</option>
<option value="1">VSI Storage Viewer</option></select></td></tr>
<tr height="15"></tr>
<tr><td width="130">Release</td>
<td><select name="release" class="inputfield" id="release"></td></tr>
<tr height="15"></tr>
<tr><td width="130">Priority</td>
<td><input type="checkbox" name="p0" value="0">P0</td></tr>
<tr><td width="130"></td>
<td><input type="checkbox" name="p1" value="1">P1</td></tr>
<tr><td width="130"></td>
<td><input type="checkbox" name="p2" value="2">P2</td></tr>
<tr><td width="130"></td>
<td><input type="checkbox" name="p3" value="3">P3</td></tr>
<tr height="15"></tr>
<tr><td width="130">View By</td>
<td><select name="viewby">
<option value="week" >Week</option>
<option value="day" >Day</option>
<option value="month" >Month</option>
<option value="quarter" >Quarter</option></select></td></tr>
<tr height="15"></tr>
<tr><td width="130">From (mm/dd/yyyy)</td>
<td><input type="text" value="" id="from" size="12"></input></td></tr>
<tr height="15"></tr>
<tr><td width="130">To (mm/dd/yyyy)</td>
<td><input type="text" value="" id="to" size="12"></input></td></tr>
<tr height="15"></tr>
<tr><td width="20"></td>
<td><button name="submit" type="submit">Submit Query</button></td></tr>
<tr height="15"></tr>
</table>
</form></td>
<td width=100></td>
<td>
 
</table>
</body>
</html>
