<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="CombinationFolder" value="C:\Combination\"/>
    <add key="TemplateFolder" value="..\..\..\..\PSAutomation3.0\PowerShellAutomation\Template"/>
    <add key ="ProjectName" value="PowerShellAutomation,ESIServiceAutomation"/>
    <add key ="SolutionFolder" value="..\..\..\..\PSAutomation3.0\"/>
    <!--Sepcify the commands which will be tested in the format like "New-EmcLun, Remove-EmcLun"-->
    <add key ="CommandsToTest" value="Get-EmcEsxHost, Get-EmcDatastore, Get-EmcScsiLun, Get-EmcVcenterSystem"/>
    <!--Sepcify test type: "positive", "negative" or "both"-->
    <add key ="TestType" value="positive"/>
    <!--Set to "True" to use File configure-->
    <add key ="IsFile" value="True"/>
    <add key ="CMDFolder" value="..\..\..\..\Documents\Cmdlet Log\Current version\"/>
    <add key ="CMDFileSuffix" value="CmdAll.txt"/>
  </appSettings>
</configuration>
